<div class="mdl-grid portfolio-max-width" *ngIf="musicvideos">

  
   <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp img-content" [innerHTML]="videourl">
    
        <!--<div  [innerHTML]="videourl"></div>-->
   </div>
</div>
<div class="md1-grid portfolio-max-width" *ngIf="musicvideos" >  
  
  <div class="mdl-card__menu">
         <div class='watch-view-count'>
         
      <div class='circle' *ngIf="musicvideos">
         <span class='number' >{{musicvideos.rating}}</span>
      </div>
  
         </div>
    
        <button data-toggle="modal" data-target="#share" class="mdl-button mdl-js-button mdl-button--icon mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--coloreds">
      <i class="material-icons" >share</i>
      </button>
    
     <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--coloreds " *ngIf="!musicvideos.favourite"    (click)=" addFavourite(musicvideos,musicvideos.id)" >  
         <i class="material-icons"  >favorite_border</i>
         </button>

         <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--coloreds " *ngIf="musicvideos.favourite&&!musicvideos.favourite[userid]"    (click)=" addFavourite(musicvideos,musicvideos.id)" >  
         <i class="material-icons"  >favorite_border</i>
         </button>

         <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--coloreds " *ngIf="musicvideos.favourite&&musicvideos.favourite[userid]"  [ngClass]="{'red':musicvideos.favourite[userid] }">
         <i class="material-icons"  >favorite_border</i>
         </button>

    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--coloreds " *ngIf="musicvideos.stars" [ngClass]="{'red': musicvideos.stars[userid] }"   (click)="like(musicvideos.id)" >
         <i class="material-icons"  >thumb_up</i>
         </button>

         <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--coloreds " *ngIf="!musicvideos.stars"    (click)="like(musicvideos.id)" >
         <i class="material-icons"  >thumb_up</i>
         </button>
     
      
     
         

         
         <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--coloreds" data-toggle="modal" data-target="#rate" (click)="rateThisPost()">
         <i class="material-icons" >star</i>
         </button>
         <!--<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
         <i class="material-icons">add</i>
         </button>-->

        
    
  </div>

<div class="full-width " *ngIf="musicvideos">
      <h1 class='max-top'>{{musicvideos.songtitle}} | {{musicvideos.title}} </h1>
      
   </div>

<div class=" mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp padding10 " *ngIf="musicvideos">
     
      <div  [innerHTML]="musicvideos.overview" ></div>
   </div>


<p class="sharethisShare">Share this Article<b>:</b></p>
<div id="buttonGroupShare" *ngIf="musicvideos">
  <button id='fbShare' style="background:#325C94;"  (click)="shareFb()"><a>Facebook</a></button>
 <button id='twitterShare' style="background:#00ABDC; "  (click)="shareTwitter(musicvideos.title)"><a>Twitter</a></button>
  <button id='gplusShare' style="background:#EA3032"  (click)="shareGplus()"><a>Google+</a></button>
  <button id='liShare' style="background:#0073B2;"  (click)="shareLinkedin(musicvideos.title)"><a>LinkedIn</a></button></div>
</div>


<app-dialogue [movie]="musicvideos"></app-dialogue>
<app-rate [movie]="musicvideos"></app-rate>


