<div class="mdl-grid portfolio-max-width" *ngIf="moviereview">

  
   <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp img-content">
    <div class='review' *ngIf="moviereview">
      <div class='circle'>
         <span class='number' >{{moviereview.rating}}</span>
      </div>
   </div>
        <img src="{{moviereview.imagepath}}"/>
   </div>
</div>
<div class="md1-grid portfolio-max-width" *ngIf="moviereview" >
  
  
  <div class="mdl-card__menu">
    
       <button data-toggle="modal" data-target="#share" class="mdl-button mdl-js-button mdl-button--icon mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--coloreds">
      <i class="material-icons" >share</i>
      </button>
    
     <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--coloreds " *ngIf="!moviereview.favourite"    (click)=" addFavourite(moviereview,moviereview.id)" >  
         <i class="material-icons"  >favorite_border</i>
         </button>

         <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--coloreds " *ngIf="moviereview.favourite&&!moviereview.favourite[userid]"    (click)=" addFavourite(moviereview,moviereview.id)" >  
         <i class="material-icons"  >favorite_border</i>
         </button>

         <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--coloreds " *ngIf="moviereview.favourite&&moviereview.favourite[userid]"  [ngClass]="{'red':moviereview.favourite[userid] }">
         <i class="material-icons"  >favorite_border</i>
         </button>

    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--coloreds " *ngIf="moviereview.stars" [ngClass]="{'red': moviereview.stars[userid] }"   (click)="like(moviereview.id)" >
         <i class="material-icons"  >thumb_up</i>
         </button>

         <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--coloreds " *ngIf="!moviereview.stars"    (click)="like(moviereview.id)" >
         <i class="material-icons"  >thumb_up</i>
         </button>
     
      
     
         

         
         <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--coloreds" data-toggle="modal" data-target="#rate" (click)="rateThisPost()">
         <i class="material-icons" >star</i>
         </button>
         <!--<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
         <i class="material-icons">add</i>
         </button>-->

         <div class='watch-view-count'>
        
         </div>
    
  </div>

<div class="full-width " *ngIf="moviereview">
      <h1 class='max-top'>{{moviereview.songtitle}} | {{moviereview.title}} </h1>
   
   </div>

<div class=" mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp padding10 " *ngIf="moviereview">
     
      <div  [innerHTML]="moviereview.overview" ></div>
   </div>

<p class="sharethisShare">Share this Article<b>:</b></p>
<div id="buttonGroupShare" *ngIf="movietrailer">
  <button id='fbShare' style="background:#325C94;"  (click)="shareFb()"><a>Facebook</a></button>
 <button id='twitterShare' style="background:#00ABDC; "  (click)="shareTwitter(movietrailer.title)"><a>Twitter</a></button>
  <button id='gplusShare' style="background:#EA3032"  (click)="shareGplus()"><a>Google+</a></button>
  <button id='liShare' style="background:#0073B2;"  (click)="shareLinkedin(movietrailer.title)"><a>LinkedIn</a></button>
  


</div>


</div>

<app-dialogue [movie]="moviewreview"></app-dialogue>
<app-rate [movie]="moviewreview"></app-rate>


