
    
        <!--Header With Feature Image-->
        <section class="header-image header-feature2">
        	<div class="wrapper">
                <h1>Gallery Fullwidth</h1>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat sed diam voluptua.</p>
                
                <
                
                
        	</div>
        </section>
        <!--Header With Feature Image End-->

        <!--Portfolio Container Start-->
        <section class="portfolio-container">
        	
            <!--Category Filter-->
            <div class="category-filter">
            	<div class="wrapper center">
                    <ul>
                        <li class="filter selected" data-category="cat-all">ALL</li>
                        <li class="filter" data-category="cat-one">CATEGORY 1</li>
                        <li class="filter" data-category="cat-two">CATEGORY 2</li>
                        <li class="filter" data-category="cat-three">CATEGORY 3</li>
                        <li class="filter" data-category="cat-four">CATEGORY 4</li>
                    </ul>
                </div>
            </div>
            <!--End-->
            
            <!--Portfolio Fullwidth Thumbnails-->
            <div class="grid-fullwidth">
            	<div class="megafolio-container noborder norounded">
			        
                    <!--Thumbnail 1 Start-->
                    <div class="mega-entry cat-all cat-one cat-four" id="entry-1" data-src="assets/images/upload/image1.jpg" data-width="504" data-height="400">
                    	
                        <!--Hover Effect Start-->
                        <div class="mega-hover alone">
                        
                        	<!--Title and Subtitle-->
							<div class="mega-hovertitle">This is gallery title
                            	<div class="mega-hoversubtitle">gallery subtitle</div>
                            </div>
                            
                            <!-- Preview Button -->
                            <a class="fancybox" data-fancybox-group="group" href="assets/images/upload/image1.jpg">
                            	<div class="mega-hoverview mega-zoom"></div>
                            </a>
                            
                        </div>
                        <!--Hover Effect End-->
                        
                    </div>
                    <!--Thumbnail End-->
                    
                    <!--Thumbnail 2 Start-->
                    <div class="mega-entry cat-all cat-two cat-one" id="entry-2" data-src="assets/images/upload/image2.jpg" data-width="504" data-height="400">
                    
                    	<!--Hover Effect Start-->
                        <div class="mega-hover alone">
                        
                        	<!--Title and Subtitle-->
							<div class="mega-hovertitle">This is gallery title
                            	<div class="mega-hoversubtitle">gallery subtitle</div>
                            </div>
                            
                            <!-- Preview Button -->
                            <a class="fancybox" data-fancybox-group="group" href="assets/images/upload/image2.jpg">
                            	<div class="mega-hoverview mega-zoom"></div>
                            </a>
                            
                        </div>
                        <!--Hover Effect End-->
                    
                    </div>
                    <!--Thumbnail End-->
                    
                    <!--Thumbnail 3 Start-->
                    <div class="mega-entry cat-all cat-three cat-two" id="entry-3" data-src="assets/images/upload/image3.jpg" data-width="504" data-height="400">
                    
                    	<!--Hover Effect Start-->
                        <div class="mega-hover alone">
                        
                        	<!--Title and Subtitle-->
							<div class="mega-hovertitle">This is gallery title
                            	<div class="mega-hoversubtitle">gallery subtitle</div>
                            </div>
                            
                            <!-- Preview Button -->
                            <a class="fancybox" data-fancybox-group="group" href="assets/images/upload/image3.jpg">
                            	<div class="mega-hoverview mega-zoom"></div>
                            </a>
                            
                        </div>
                        <!--Hover Effect End-->
                    
                    </div>
                    <!--Thumbnail End-->
                    
                    <!--Thumbnail 4 Start-->
                    <div class="mega-entry cat-all cat-four cat-three" id="entry-4" data-src="assets/images/upload/image4.jpg" data-width="504" data-height="400">
                    	
                        <!--Hover Effect Start-->
                        <div class="mega-hover alone">
                        
                        	<!--Title and Subtitle-->
							<div class="mega-hovertitle">This is gallery title
                            	<div class="mega-hoversubtitle">gallery subtitle</div>
                            </div>
                            
                            <!-- Preview Button -->
                            <a class="fancybox" data-fancybox-group="group" href="assets/images/upload/image4.jpg">
                            	<div class="mega-hoverview mega-zoom"></div>
                            </a>
                            
                        </div>
                        <!--Hover Effect End-->
                        
                    </div>
                    <!--Thumbnail End-->
                    
                    <!--Thumbnail 5 Start-->
                    <div class="mega-entry cat-all cat-one cat-four" id="entry-5" data-src="assets/images/upload/image5.jpg" data-width="504" data-height="400">
                    
                    	<!--Hover Effect Start-->
                        <div class="mega-hover alone">
                        
                        	<!--Title and Subtitle-->
							<div class="mega-hovertitle">This is gallery title
                            	<div class="mega-hoversubtitle">gallery subtitle</div>
                            </div>
                            
                            <!-- Preview Button -->
                            <a class="fancybox" data-fancybox-group="group" href="assets/images/upload/image5.jpg">
                            	<div class="mega-hoverview mega-zoom"></div>
                            </a>
                            
                        </div>
                        <!--Hover Effect End-->
                    
                    </div>
                    <!--Thumbnail End-->
                    
                    <!--Thumbnail 6 Start-->
                    <div class="mega-entry cat-all cat-two cat-three" id="entry-6" data-src="assets/images/upload/image6.jpg" data-width="504" data-height="400">
                    
                    	<!--Hover Effect Start-->
                        <div class="mega-hover alone">
                        
                        	<!--Title and Subtitle-->
							<div class="mega-hovertitle">This is gallery title
                            	<div class="mega-hoversubtitle">gallery subtitle</div>
                            </div>
                            
                            <!-- Preview Button -->
                            <a class="fancybox" data-fancybox-group="group" href="assets/images/upload/image6.jpg">
                            	<div class="mega-hoverview mega-zoom"></div>
                            </a>
                            
                        </div>
                        <!--Hover Effect End-->
                    
                    </div>
                    <!--Thumbnail End-->
                    
                    <!--Thumbnail 7 Start-->
                    <div class="mega-entry cat-all cat-three cat-two" id="entry-7" data-src="assets/images/upload/image7.jpg" data-width="504" data-height="400">
                    
                    	<!--Hover Effect Start-->
                        <div class="mega-hover alone">
                        
                        	<!--Title and Subtitle-->
							<div class="mega-hovertitle">This is gallery title
                            	<div class="mega-hoversubtitle">gallery subtitle</div>
                            </div>
                            
                            <!-- Preview Button -->
                            <a class="fancybox" data-fancybox-group="group" href="assets/images/upload/image7.jpg">
                            	<div class="mega-hoverview mega-zoom"></div>
                            </a>
                            
                        </div>
                        <!--Hover Effect End-->
                    
                    </div>
                    <!--Thumbnail End-->
                    
                    <!--Thumbnail 8 Start-->
                    <div class="mega-entry cat-all cat-four cat-one" id="entry-8" data-src="assets/images/upload/image8.jpg" data-width="504" data-height="400">
                    
                    	<!--Hover Effect Start-->
                        <div class="mega-hover alone">
                        
                        	<!--Title and Subtitle-->
							<div class="mega-hovertitle">This is gallery title
                            	<div class="mega-hoversubtitle">gallery subtitle</div>
                            </div>
                            
                            <!-- Preview Button -->
                            <a class="fancybox" data-fancybox-group="group" href="assets/images/upload/image8.jpg">
                            	<div class="mega-hoverview mega-zoom"></div>
                            </a>
                            
                        </div>
                        <!--Hover Effect End-->
                    
                    </div>
                    <!--Thumbnail End-->
                    
                    <!--Thumbnail 9 Start-->
                    <div class="mega-entry cat-all cat-one cat-four" id="entry-9" data-src="assets/images/upload/image9.jpg" data-width="504" data-height="400">
                    	
                        <!--Hover Effect Start-->
                        <div class="mega-hover alone">
                        
                        	<!--Title and Subtitle-->
							<div class="mega-hovertitle">This is gallery title
                            	<div class="mega-hoversubtitle">gallery subtitle</div>
                            </div>
                            
                            <!-- Preview Button -->
                            <a class="fancybox" data-fancybox-group="group" href="assets/images/upload/image9.jpg">
                            	<div class="mega-hoverview mega-zoom"></div>
                            </a>
                            
                        </div>
                        <!--Hover Effect End-->
                        
                    </div>
                    <!--Thumbnail End-->
                    
                    <!--Thumbnail 10 Start-->
                    <div class="mega-entry cat-all cat-two cat-one" id="entry-10" data-src="assets/images/upload/image10.jpg" data-width="504" data-height="400">
                    
                    	<!--Hover Effect Start-->
                        <div class="mega-hover alone">
                        
                        	<!--Title and Subtitle-->
							<div class="mega-hovertitle">This is gallery title
                            	<div class="mega-hoversubtitle">gallery subtitle</div>
                            </div>
                            
                            <!-- Preview Button -->
                            <a class="fancybox" data-fancybox-group="group" href="assets/images/upload/image10.jpg">
                            	<div class="mega-hoverview mega-zoom"></div>
                            </a>
                            
                        </div>
                        <!--Hover Effect End-->
                    
                    </div>
                    <!--Thumbnail End-->
                    
                    <!--Thumbnail 11 Start-->
                    <div class="mega-entry cat-all cat-three cat-two" id="entry-11" data-src="assets/images/upload/image11.jpg" data-width="504" data-height="400">
                    
                    	<!--Hover Effect Start-->
                        <div class="mega-hover alone">
                        
                        	<!--Title and Subtitle-->
							<div class="mega-hovertitle">This is gallery title
                            	<div class="mega-hoversubtitle">gallery subtitle</div>
                            </div>
                            
                            <!-- Preview Button -->
                            <a class="fancybox" data-fancybox-group="group" href="assets/images/upload/image11.jpg">
                            	<div class="mega-hoverview mega-zoom"></div>
                            </a>
                            
                        </div>
                        <!--Hover Effect End-->
                    
                    </div>
                    <!--Thumbnail End-->
                    
                    <!--Thumbnail 12 Start-->
                    <div class="mega-entry cat-all cat-four cat-three" id="entry-12" data-src="assets/images/upload/image12.jpg" data-width="504" data-height="400">
                    	
                        <!--Hover Effect Start-->
                        <div class="mega-hover alone">
                        
                        	<!--Title and Subtitle-->
							<div class="mega-hovertitle">This is gallery title
                            	<div class="mega-hoversubtitle">gallery subtitle</div>
                            </div>
                            
                            <!-- Preview Button -->
                            <a class="fancybox" data-fancybox-group="group" href="assets/images/upload/image12.jpg">
                            	<div class="mega-hoverview mega-zoom"></div>
                            </a>
                            
                        </div>
                        <!--Hover Effect End-->
                        
                    </div>
                    <!--Thumbnail End-->
                    
                    <!--Thumbnail 13 Start-->
                    <div class="mega-entry cat-all cat-one cat-four" id="entry-13" data-src="assets/images/upload/image13.jpg" data-width="504" data-height="400">
                    
                    	<!--Hover Effect Start-->
                        <div class="mega-hover alone">
                        
                        	<!--Title and Subtitle-->
							<div class="mega-hovertitle">This is gallery title
                            	<div class="mega-hoversubtitle">gallery subtitle</div>
                            </div>
                            
                            <!-- Preview Button -->
                            <a class="fancybox" data-fancybox-group="group" href="assets/images/upload/image13.jpg">
                            	<div class="mega-hoverview mega-zoom"></div>
                            </a>
                            
                        </div>
                        <!--Hover Effect End-->
                    
                    </div>
                    <!--Thumbnail End-->
                    
                    <!--Thumbnail 14 Start-->
                    <div class="mega-entry cat-all cat-two cat-one" id="entry-14" data-src="assets/images/upload/image14.jpg" data-width="504" data-height="400">
                    
                    	<!--Hover Effect Start-->
                        <div class="mega-hover alone">
                        
                        	<!--Title and Subtitle-->
							<div class="mega-hovertitle">This is gallery title
                            	<div class="mega-hoversubtitle">gallery subtitle</div>
                            </div>
                            
                            <!-- Preview Button -->
                            <a class="fancybox" data-fancybox-group="group" href="assets/images/upload/image14.jpg">
                            	<div class="mega-hoverview mega-zoom"></div>
                            </a>
                            
                        </div>
                        <!--Hover Effect End-->
                    
                    </div>
                    <!--Thumbnail End-->
                    
                    <!--Thumbnail 15 Start-->
                    <div class="mega-entry cat-all cat-three cat-four" id="entry-15" data-src="assets/images/upload/image15.jpg" data-width="504" data-height="400">
                    
                    	<!--Hover Effect Start-->
                        <div class="mega-hover alone">
                        
                        	<!--Title and Subtitle-->
							<div class="mega-hovertitle">This is gallery title
                            	<div class="mega-hoversubtitle">gallery subtitle</div>
                            </div>
                            
                            <!-- Preview Button -->
                            <a class="fancybox" data-fancybox-group="group" href="assets/images/upload/image15.jpg">
                            	<div class="mega-hoverview mega-zoom"></div>
                            </a>
                            
                        </div>
                        <!--Hover Effect End-->
                    
                    </div>
                    <!--Thumbnail End-->
                    
                    <!--Thumbnail 16 Start-->
                    <div class="mega-entry cat-all cat-three cat-two" id="entry-16" data-src="assets/images/upload/image16.jpg" data-width="504" data-height="400">
                    
                    	<!--Hover Effect Start-->
                        <div class="mega-hover alone">
                        
                        	<!--Title and Subtitle-->
							<div class="mega-hovertitle">This is gallery title
                            	<div class="mega-hoversubtitle">gallery subtitle</div>
                            </div>
                            
                            <!-- Preview Button -->
                            <a class="fancybox" data-fancybox-group="group" href="assets/images/upload/image16.jpg">
                            	<div class="mega-hoverview mega-zoom"></div>
                            </a>
                            
                        </div>
                        <!--Hover Effect End-->
                    
                    </div>
                    <!--Thumbnail End-->

               </div>
            </div>
            <!--Portfolio Fullwidth Thumbnails End-->
            
        </section>
        <!--Portfolio Container End-->
        
        <!--Footer Start-->
        <footer>
            <div class="footer-container">
                <div class="wrapper">
                
                	<!--Footer About Us-->
                    <section class="footer-aboutus">
                    	<figure>
                         <img class="android-logo-image" src="assets/images/android-logo.png" alt='adbcd'/>
                        </figure>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </section>
                    <!--Footer About Us End-->
                    
                    <!--Footer Gallery-->
                    <section class="footer-gallery">
                    	<h2 class="footer-title">gallery</h2>
                        <ul>
                        	<li>
                            	<a class="fancybox" data-fancybox-group="footergallery" href="assets/images/upload/image1.jpg">
                                    <div class="thumbnail-hover"></div>
                                    <img src="assets/images/upload/footer-gallery-thumbnail1.jpg" alt="gallery thumbnail" />
                                </a>
                            </li>
                            <li>
                            	<a class="fancybox" data-fancybox-group="footergallery" href="assets/images/upload/image4.jpg">
                                    <div class="thumbnail-hover"></div>
                                    <img src="assets/images/upload/footer-gallery-thumbnail2.jpg" alt="gallery thumbnail" />
                                </a>
                            </li>
                            <li>
                            	<a class="fancybox" data-fancybox-group="footergallery" href="assets/images/upload/image16.jpg">
                                    <div class="thumbnail-hover"></div>
                                    <img src="assets/images/upload/footer-gallery-thumbnail3.jpg" alt="gallery thumbnail" />
                                </a>
                            </li>
                            <li>
                            	<a class="fancybox" data-fancybox-group="footergallery" href="assets/images/upload/image14.jpg">
                                    <div class="thumbnail-hover"></div>
                                    <img src="assets/images/upload/footer-gallery-thumbnail4.jpg" alt="gallery thumbnail" />
                                </a>
                            </li>
                            <li>
                            	<a class="fancybox" data-fancybox-group="footergallery" href="assets/images/upload/image6.jpg">
                                    <div class="thumbnail-hover"></div>
                                    <img src="assets/images/upload/footer-gallery-thumbnail5.jpg" alt="gallery thumbnail" />
                                </a>
                            </li>
                            <li>
                            	<a class="fancybox" data-fancybox-group="footergallery" href="assets/images/upload/image5.jpg">
                                    <div class="thumbnail-hover"></div>
                                    <img src="assets/images/upload/footer-gallery-thumbnail6.jpg" alt="gallery thumbnail" />
                                </a>
                            </li>
                            <li>
                            	<a class="fancybox" data-fancybox-group="footergallery" href="assets/images/upload/image18.jpg">
                                    <div class="thumbnail-hover"></div>
                                    <img src="assets/images/upload/footer-gallery-thumbnail7.jpg" alt="gallery thumbnail" />
                                </a>
                            </li>
                            <li>
                            	<a class="fancybox" data-fancybox-group="footergallery" href="assets/images/upload/image10.jpg">
                                    <div class="thumbnail-hover"></div>
                                    <img src="assets/images/upload/footer-gallery-thumbnail8.jpg" alt="gallery thumbnail" />
                                </a>
                            </li>
                        </ul>
                    </section>
                    <!--Footer Gallery End-->
                    
                    <!--Footer Contact-->
                    <section class="footer-contact">
                    	<h2 class="footer-title">get in touch</h2>
                    	<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
                        <ul class="footer-address">
                        	<li>4884 Harcourt St Boston MA USA 30458</li>
                            <li>info@yourdomain.com</li>
                            <li>111-123-456-9999</li>
                        </ul>
                        
                        <!--Footer Social-->
                        <ul class="footer-social">
                        	<li><a href="#"><img src="assets/images/social-icon/social-icon1.png" alt="social media" /></a></li>
                            <li class="social-color2"><a href="#"><img src="assets/images/social-icon/social-icon2.png" alt="social media" /></a></li>
                            <li class="social-color3"><a href="#"><img src="assets/images/social-icon/social-icon3.png" alt="social media" /></a></li>
                            <li class="social-color4"><a href="#"><img src="assets/images/social-icon/social-icon4.png" alt="social media" /></a></li>
                            <li class="social-color5"><a href="#"><img src="assets/images/social-icon/social-icon5.png" alt="social media" /></a></li>
                            <li class="social-color6"><a href="#"><img src="assets/images/social-icon/social-icon6.png" alt="social media" /></a></li>
                            <li class="social-color7"><a href="#"><img src="assets/images/social-icon/social-icon7.png" alt="social media" /></a></li>
                            <li class="social-color8"><a href="#"><img src="assets/images/social-icon/social-icon8.png" alt="social media" /></a></li>
                            <li class="social-color9"><a href="#"><img src="assets/images/social-icon/social-icon9.png" alt="social media" /></a></li>
                        </ul>
                        <!--Footer Social End-->
                        
                    </section>
                    <!--Footer Contact End-->
                    
                </div>
            </div>
            
            <!--Footer Bottom-->
            <section class="footer-bottom">
            	<div class="wrapper">
                	<div class="copyright">
                        Copyright © All Rights Reserved. <a href="#">yourdomain.com</a>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="portfolio-fullwidth.html">Portfolio</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </section>
            <!--Footer Bottom End-->
            
            <!--Go To Top-->
            <a href="#" class="back-to-top"></a>
            <!--End-->
            
        </footer>
        <!--Footer End-->
      


  