<div id="rate" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Rate</h4>
      </div>
      <div class="modal-body">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" (click)="Rate(movie.ratingCount,movie.rating,1,movie.id,movie.posttype)">
  1
  </button>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" (click)="Rate(movie.ratingCount,movie.rating,2,movie.id,movie.posttype)">
  2
  </button>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" (click)="Rate(movie.ratingCount,movie.rating,3,movie.id,movie.posttype)">
  3
  </button>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" (click)="Rate(movie.ratingCount,movie.rating,4,movie.id,movie.posttype)">
  4
  </button>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" (click)="Rate(movie.ratingCount,movie.rating,5,movie.id,movie.posttype)">
  5
  </button>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" (click)="Rate(movie.ratingCount,movie.rating,6,movie.id,movie.posttype)">
  6
  </button>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" (click)="Rate(movie.ratingCount,movie.rating,7,movie.id,movie.posttype)">
  7
  </button>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" (click)="Rate(movie.ratingCount,movie.rating,8,movie.id,movie.posttype)">
  8
  </button>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" (click)="Rate(movie.ratingCount,movie.rating,9,movie.id,movie.posttype)">
  9
  </button>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"  (click)="Rate(movie.ratingCount,movie.rating,10,movie.id,movie.posttype)">
  10
  </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>